h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 5px 4px #2B2B29;
    font-size:50px;
    /* padding: 300px; */
    font-stretch: ultra-expanded;
}

/* later add animated box over name; allow me to introduce myself, my name is */
   
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}


h1:before,
h1:after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 55px;
    box-shadow: 1px 2px 3px #2B2B29;
}

h1:before, h2:before {
    right: 0.5em;
    margin-left: -50%;
}

h1:after, h2:after {
    left: 0.5em;
    margin-right: -50%;
}

#welcomeBlock {
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    background-image: url(file:///Users/paigekelly/Development/code/phase_0/my-personal-website-project/images/paige-kelly-skiing.jpg);
    background-repeat:no-repeat;
    background-position-x: right;
    background-position-y: top;
    position:relative;
    padding-top: 300px;
    padding-bottom: 300px;
    min-width:100%;
    background-color: transparent;
}


/* h2 is my story and titles of sections */
h2 {
    font-size: 150%;
    padding-top: 0px;
    padding-bottom: 10px;
}

/* lines next to my story and name */
h2:before,
h2:after {
    background-color:#2B2B29;
    content: "";
    display: inline-block;
    height: 1.2px;
    position: relative;
    vertical-align: middle;
    width: 70px;
}

body {
    background-color: #2B2B29;
    text-align: center;
    font-family: 'Cardo', serif;
    /* font-family: sans-serif, 'brandon grotesque', Helvetica, sans-serif; */
    color: #2B2B29;
}

/* Using for my story currently */
.white-box { 
    height: auto;
    margin-top: -60px; 
    margin:auto;
    width: 50%; 
    align-items: center;
    background: white;
    padding: 20px;
    margin-left: auto;
}

p {
    size:70px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
}

.purple-box { 
    width: 600px; 
    height: auto; 
    margin-top: -600px; 
    margin-left: 80%; 
    margin-right: auto;   
    background:#c4d5e7;
    padding: 20px;
}

/* Light purple color #989DC7 
    Redish pink color #93153A
    goggle blue color #1B3154
    mountain black ish #20262D
    purply flower #5C5E8A
    mountain brown #2B2B29
    snow color #c4d5e7
    lighter snow color #d2e1f1
*/