#about-me {
    display:block;
    text-align: center;
    padding:1.5em;
    border-style: solid;
    border-color:#c4d5e7;
    width: 40%;
    margin-top:2em;
    margin-bottom:2em;
    margin-left:auto;
    margin-right:auto;
}

#about-me p{
    text-align:justify;
}

#welcome-block h2 {
    text-align: center;
    size: 8em;
}

body {
    background-color: white;
    text-align: center;
    font-family: 'Cardo', serif;
    color: #2B2B29;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

ul {
    list-style-type:
}

#welcome-block h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0.1em 0.1em #2B2B29;
    font-size:3em;
    font-stretch: ultra-expanded;
    font-family: 'Oswald';
    text-transform: uppercase;
    padding: 0em;
}

#welcome-block {
    background-size: cover;
    margin-top:-0.5em;
    margin-right: -0.5em;
    margin-left: -0.5em;
    margin-bottom: auto;
    background-image: url(https://raw.githubusercontent.com/pckellyco/my-personal-website-project/main/images/paige-kelly-skiing.jpg);
    background-repeat:no-repeat;
    background-position-x: right;
    background-position-y: top;
    position:relative;
    padding-top: 20em;
    padding-bottom: 20em;
    min-height: 10em;
    background-color: transparent;
    color:white;
}

h1:before,
h1:after {
    background-color:#2B2B29;
    content: "";
    display: inline-block;
    height: .1em;
    position: relative;
    vertical-align: middle;
    width: 1em;
}

h1:before,
h1:after {
    background-color: white;
    height: .1em;
    width: 1em;
    box-shadow: 1px 2px 3px #2B2B29;
}


h1:before {
    right: 0.5em;
    margin-left: -50%;
}

h1:after {
    left: 0.5em;
    margin-right: -50%;
}

#virtual-resume {
    background-color:#c4d5e7;
}

.container {
    width:70%;
}

h3, h4 {
    padding:0em;
}

.icon-table {
    margin-left: auto;
    margin-right: auto;
}

.icon-table td {
    padding: 1em;
    animation: spin 4s linear 0s;
}

#contact {
    height: 100%;
    position: absolute;
    background-color:#c4d5e7;
    width: 8em;
    left: 0em;
    padding-right: 3em;
    padding-left: 0em;
}

li {
    padding: 0em;
}

h1 {
    transform-style: preserve-3d;
    animation: spin 4s linear 0s;
}

@keyframes spin {
    0% {
        transform: perspective(5em) rotateY(360deg) rotateX(15deg);
    }
    100% {
        transform: perspective(0em) rotateY(0deg) rotateX(15deg);
    }
}

h3 {
    transform-style: preserve-3d;
    animation: left-side;

}

@keyframes left-slide {
    0% {
        transform: perspective(5em) rotateY(360deg) rotateX(15deg);
    }
    100% {
        transform: perspective(0em) rotateY(50deg) rotateX(15deg);
    }

}

/* .quote {
    margin: auto;
    width: fit-content;
    max-width: 30%;
    background: #1B3154;
    padding: 1em;
    color:white;
    text-align: right;
}

.quote blockquote {
    padding:1.5em;
}

.quote figcaption {
    padding: 1.5em;
}

q {
    display:block;
    text-align: left;
}

q:before {
    content: open-quote;
    font-size: 4em;
    color:#c4d5e7;
}
  
q:after {
    content: close-quote;
} */

/* .circle .char {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    color:blue;
    font-size: 2em;
    padding: .4em .4em;
    border-top: 4px solid pink;
    border-bottom: 4px solid pink;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--char-index) * 12deg))
    translateZ(1em);
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

img.wiggle {
    display: inline-block;
    animation: wiggle 2.5s infinite;
} */

/* nav#menu {
    height: 100%;
    position: absolute;
    background-color:#c5154a;
    width: 10em;
    right: 0em;
    color:white;
}

nav#menu a {
    color:white; 
    text-decoration: none;
    text-transform: uppercase;
    text-decoration-line: none;
} */