
body {

}

.quote {
    margin: auto;
    width: fit-content;
    max-width: 40em;
    background: #1B3154;
    padding: 1em;
    color:white;
    text-align: center;
}

.quote blockquote {
    /* padding:1.5em; */
}

.quote figcaption {
    padding: 1.5em;
}

q {
    display: inline;
}
  
q:before {
    content: open-quote;
    font-size: 4em;
    color:violet;
}
  
q:after {
    content: close-quote;
}
